.App {
  text-align: center;
  height: 100vh;
  .content {
    min-height: 75vh;
    margin-top: 12.5vh;
    z-index: 0;
  }
}

.map-container {
  z-index: 0;
  h1 {
    padding: 2.5% 0 0 0;
  }
  p {
    margin: 1% 0 0 0;
  }
}
path {
  pointer-events: all;
}

path:hover {
  cursor: pointer;
  opacity: 0.75;
}
