.App {
  margin-left: 15vw;
  text-align: center;
  background-color: rgba(11, 10, 10, 0.9);
  height: 100vh;

  .Main-Nav {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 15vw;
    height: 100vh;
    justify-content: center;
    background-color: rgba(11, 10, 10, 0.9);
    color: white;

    .nav-links {
      list-style-type: none;
      font-size: 1.5em;
      margin-top: 55%;

      li {
        margin: 20px;
      }
      a {
        text-decoration: none;
        color: rgb(255, 0, 217);
      }
    }
  }

  .content {
    height: 75vh;
  }
}

.map-container {
  color: white;
  p {
    padding: 1% 0 1.5% 0;
  }
}
path {
  pointer-events: all;
}

path:hover {
  cursor: pointer;
  opacity: 0.75;
}
