@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap");

.Foot-bar {
  height: 10vh;
  position: sticky;
  font-size: 1.1rem;
  text-align: end;
  font-family: "Caveat", cursive;
  h1 {
    padding: 2% 10% 0 0;
    color: lime;
  }
}
